<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://ali-fir-pro-binary.fir.im/f28ae4757b2e5659454152bda9a0b476553629ee?auth_key=1576199684-0-0-5b53cc7e83479c2bcf1d24769fd88631</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.gxjoa.office</string>
                <key>bundle-version</key>
                <string>2.0.19</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>办公系统</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
